/* font text */
@font-face {
  font-family: 'Open-Sans-normal';
  src: url('../font/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans-bold';
  src: url('../font/OpenSans-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans-super-bold';
  src: url('../font/OpenSans-ExtraBold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: 'Open-Sans-normal' !important;
  font-weight: normal;
}
